.inp-pwd-cndtn{
    color: red;
    display: none;
}
.conf-pwd-alt{
    color: red;
    display: none;
}
.pwd-cndtn-active .inp-pwd-cndtn{
    display: block;
}
.pwd-alt-active .conf-pwd-alt{
    display: block;
}